@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#E07A5F] to-[#c56a52];
}

.float-animation {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}